<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oscarg798.amiibowiki.gamedetail">

    <application>
        <activity
            android:name=".GameDetailActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
