<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <activity
            android:name="com.oscarg798.amiibowiki.deeplink.DeepLinkHandlerActivity"
            tools:node="replace"
            android:theme="@style/android:Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="amiibowikidebug" />
            </intent-filter>
        </activity>
    </application>

</manifest>
